/* Layout / Components  */
@import "./styles/variables.css";
@import "./styles/base.css";
@import "./styles/header.css";
@import "./styles/footer.css";

/* Specific Talk  */
@import "./styles/contrast.css";
@import "./styles/debug.css";

.container-shadow {
	border: 2px solid black;
	box-shadow: var(--box-shadow);
	position: relative;
}
