*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: var(--font-family);
	font-size: 1.125rem;
	line-height: 1.5;
}

main,
header {
	display: flex;
	flex-direction: column;
	width: min(100%, 1024px);
	max-width: 100%;
	margin-inline: auto;
	padding-inline: 1rem;
}

main h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	text-align: center;
	border: 2px solid var(--color-dark);
	padding-block: 2rem;
}

section {
	padding-block: 2rem;
}

p {
	margin-bottom: 1rem;
}

pre {
	border: 2px solid var(--color-dark);
}

pre code {
	font-size: 0.875rem !important;
}

p code,
li code {
	font-size: 0.875rem;
	font-family: "Courier New", monospace;
	background: rgba(var(--color-dark-rgb), 0.1);
	padding: 0.15rem 0.35rem;
	border-radius: 0.5rem;
	border: 1px solid var(--color-dark);
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-block: 2rem;
}

table,
th,
td {
	border: 2px solid var(--color-dark);
	padding: 1em;
}

ul,
ol {
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}

.flex {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

@media screen and (min-width: 640px) {
	.flex {
		flex-direction: row;
	}
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}

.btn {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	justify-content: center;
	padding: 0.25rem 0.5rem;
	border: 1px solid var(--color-dark);
	background: var(--color-accent-light-alternative);
	color: var(--color-dark);
	cursor: pointer;
	text-decoration: none;
	width: fit-content;
}

.btn::after {
	display: none;
}

.btn:hover {
	background: var(--color-accent-dark-alternative);
	color: var(--color-light);
}

details {
	width: 100%;
	border: 2px solid var(--color-dark);
	margin-block: 2rem;
}

details summary {
	cursor: pointer;
	width: 100%;
	padding: 1rem;
}

details[open] summary {
	border-bottom: 2px solid var(--color-dark);
}

details summary + * {
	padding: 1rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

hgroup h2 {
	background-color: var(--color-accent-light-primary);
}

hgroup h2.alternative {
	background-color: var(--color-accent-light-alternative);
}

a {
	text-decoration: none;
	position: relative;
	color: var(--color-dark);
}

a::after {
	content: "";
	position: absolute;
	bottom: 2%;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--color-dark);
	transition: width 0.3s ease-in-out;
}

a:hover::after {
	width: 0;
}	

*:focus-visible {
	outline: 2px solid blue;
	outline-offset: 4px;
}
