:root {
	--color-dark: #121212;
	--color-dark-rgb: 18, 18, 18;
	--color-light: #ffffff;

	--color-accent-light-primary: oklch(90.1% 0.076 70.697);
	--color-accent-light-alternative: oklch(88.2% 0.059 254.128);

	--color-accent-dark-primary: oklch(50.2% 0.128 66.29);
	--color-accent-dark-alternative: oklch(50.2% 0.128 254.128);

	--color-debug-warning: darkorange;
	--color-debug-light-error: oklch(88.5% 0.062 18.334);
	--color-debug-error: crimson;

	--box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.7), inset 0 0 0 2px
		rgba(255, 255, 255, 0.4);
	--text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7);
	--font-family: "Atkinson Hyperlegible Next", sans-serif;
}
